<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-12">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>URL</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i< fotos.length; i++) {%>
                            <tr onclick="location.href='/detalhe/<%= fotos[i]._id%>'" style="cursor:pointer;">
                              <td ><%= fotos[i].nome %></td>
                              <td><%= fotos[i].descricao %></td>
                              <td><%= fotos[i].url %></td>
                            </tr>
                        <% } %>
                  </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <a href="/cadastro" class="btn btn-success" role="button">Novo</a>
            </div>
        </div>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
